<div class="row justify-content-center">
    <div class="col-10 px-4 py-3">
      <form class="px-4 py-3" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <p>
              <mat-form-field appearance="outline" class="col-4">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
              </mat-form-field>
            <mat-form-field appearance="outline" class="col-4">
                <mat-label>Documento</mat-label>
                <input matInput placeholder="CPF ou CNPJ" type="text" formControlName="document" [ngClass]="{ 'is-invalid': submitted && f.document.errors }"/>
              </mat-form-field>
            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Telefone</mat-label>
              <input matInput type="text" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="col-9">
              <mat-label>Endereço</mat-label>
              <input matInput type="text" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-3">
              <mat-label>CEP</mat-label>
              <input matInput type="text" formControlName="zipCode" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }"/>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Estado</mat-label>
              <mat-select (selectionChange)="selectedState($event)">
                <mat-option *ngFor="let stateItem of states" [value]="stateItem" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" ngDefaultControl>
                  {{stateItem.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Cidade</mat-label>
              <mat-select (selectionChange)="selectedCity($event)">
                <mat-option *ngFor="let cityItem of cities" [value]="cityItem" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" ngDefaultControl>
                  {{cityItem.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="col-4">
                <mat-label>Tipo</mat-label>
                <mat-select (selectionChange)="selectedPersonType($event)">
                  <mat-option *ngFor="let personTypeItem of personTypesList" [value]="personTypeItem.value" formControlName="personType" [ngClass]="{ 'is-invalid': submitted && f.personType.errors }" ngDefaultControl>
                    {{personTypeItem.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-4" *ngIf="this.newActor.personType === 'employee'">
              <mat-label>Grupo</mat-label>
              <mat-select (selectionChange)="selectedEmployeeType($event)">
                <mat-option *ngFor="let employeeTypeItem of employeeTypesList" [value]="employeeTypeItem.value" formControlName="employeeType" [ngClass]="{ 'is-invalid': submitted && f.employeeType.errors }" ngDefaultControl>
                  {{employeeTypeItem.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="col-4">
              <mat-label>E-mail</mat-label>
              <input matInput type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-4">
              <mat-label>Senha</mat-label>
              <input matInput type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            </mat-form-field>
          </p>
          <div class="col-12">
              <button mat-raised-button routerLink="/">Cancelar</button>
              <button mat-raised-button color="primary" type="submit" style="margin-left: 5px"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Cadastrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>