<mat-toolbar color="primary" class="header mat-elevation-z10 flexbox">
    <span>
      <a class="link-navegacao" routerLink="/">Sistema Corporativo</a>
    </span>
    <div *ngIf="isLogged == true">
      <div class="mx-auto px-4">
          <p class="mb-0 f_400">Olá, {{user.firstName}}</p>
      </div>
      <a mat-list-item (click)="logout()" class="px-4" style="float: right;">
        <span class="material-icons">
            logout
        </span>
        Sair
    </a>
  </div>
</mat-toolbar>