<div>
  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input matInput placeholder="E-Mail" type="email">
    <mat-hint>Insira seu e-mail</mat-hint>
  </mat-form-field>
<div>
</div>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha" type="password">
      <mat-hint>Insira sua senha</mat-hint>
    </mat-form-field>
</div>
<div>
  <button mat-raised-button>Cancelar</button>
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Cadastrar</button>
</div>